<div>
  <table>
    <thead>
      <tr>
        <th>Creative name</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @creatives.each do |creative| %>
        <tr>
            <% if creative.id == @creative.id %>
              <td><b><%= creative.creative_name %></td>
            <% else %>
              <td><%= link_to creative.creative_name, order_creative_panel_index_path(@order, creative)%></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>