<div class="panel panel-info">
  <div class="panel-heading"><strong>Imágenes Asignadas</strong></div>
  <ul class="list-group">
    <% @images.each do |image| %>
      <li class="list-group-item">
        <%= image_tag image.asset.url(:medium), :class=>'img-thumbnail' %>
      </li>
    <% end %>
  </ul>
</div>